.technology {
  height: 60px;
}

.technology img {
  height: 100%;
  transition: scale 0.3s ease-in-out;
}

.technology img:hover {
  scale: 1.2;
}

@media (max-width: 580px) {
  .technology {
    height: 55px;
  }
}
